<head>
    <link rel="stylesheet" href="./css/bootstrap.css">
</head>
<body>
    {{{ message }}}

    <table class="table table-striped table-responsive">
        <thead>
            <th>nama</th>
            <th>kelas</th>
        </thead>

        <tbody>
            {{#each dataUser}}
                <tr>
                    <td>{{this.nama}}</td>
                    <td>{{this.kelas}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</body>